body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #111;
}
button {
  font-size: 30px;
  padding: 10px 20px;
  background-color: transparent;
  color: #23de9f;
  border: 1px solid #23de9f;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
button:hover {
  color: #111;
  background-color: #23de9f;
  box-shadow: 0 0 10px 5px #23de9f;
  animation: pulse 1s alternate infinite;
}

@keyframes pulse {
  0% {
    color: #111;
    background-color: #23de9f;
  }
  100% {
    color: #23de9f;
    background-color: #23dea056;
  }
}
